<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Tasks</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css')}}"></head>

</head>
<body>
  <div class="topnav">
  <!-- Centered link -->
    <div class="topnav-centered">
      <a href="{{ url_for('index') }}" class="active">
        <img src="./static/logo.png" alt="" width="50" height="50">
      </a>
    </div>

  <!-- Right-aligned links -->
    <div class="topnav-right">
      {% if not logged_in: %}
        <a href="{{ url_for('signup') }}">SignUp</a>
        <a href="{{ url_for('login') }}">Login</a>
      {% else %}
        <a href="{{ url_for('add') }}">Add Tasks</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
  </div>

  <div class="container mt-4">
    <h1 class="text-center mb-4">All Tasks</h1>
    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Date</th>
          <th>Task</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <!-- Date -->
            <td>
              <form action="{{ url_for('all_tasks') }}" method="POST" class="d-inline">
                <input type="hidden" name="task_id" value="{{ task.id }}">
                <input type="date" class="form-control" name="date" value="{{ task.date }}">
            </td>

            <!-- Task -->
            <td>
                <textarea class="form-control" name="task" required>{{ task.tasks }}</textarea>
            </td>

            <!-- Actions -->
            <td>
                <button type="submit" class="btn btn-success btn-sm">Save</button>
              </form>
              <a href="{{ url_for('delete', task_id=task.id) }}" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="{{ url_for('add') }}" class="btn btn-primary mt-3">Back to Add Tasks</a>
  </div>

    <footer class="py-3 my-4">
    <p class="text-center text-body-secondary">© 2024 My ToDo</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
