/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: #333;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/*changes nav bar color*/
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgb(177, 183, 189) !important;
}

/*center aligns cafe info on index page*/
.card-body{
    text-align:center;
}

/*adds border to the card*/
.shadow-sm{
    border:1px solid black;
}

/*adds border to the button inside card*/
.btn{
    border: 1px solid black;
    text-align:center;
}

/*fills the bg with black when hover*/
.btn:hover{
    background-color:black;
    color:white
}

.sign-up-form{
    border:1px solid black;
}

.sign-up-form input{
    margin: 10px;

}



body{
    background-color: #dee9ff;
}

.registration-form{
	padding: 50px 0;
}

.registration-form form{
  background-color: #fff;
  max-width: 400px;
  margin: auto;
  padding: 50px 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.registration-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

.registration-form button{
    width:100%
}

.container{
    padding-top:40px;
    padding-bottom:40px;
}

.error{
    color:red;
    text-align:center;
}

.form-check-group{
    display:flex;
    justify-content: space-evenly;
}

.row {
  display: flex;
  width: 100vw;
}

.column {
  flex: 50%;
}

.column2 {
    text-align:center;
    padding-top:10%;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}

.myUL button {
    margin-left:100px;
    border:1px solid black;
    background:red;
}

.index-body{
  background-image: url("landing-page.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.column2-title {
    padding-bottom:5px;
}