<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% if image_url %}
    <div class="image-container">
        <h2>Uploaded Image</h2>
        <img src="{{ image_url }}" alt="Uploaded Image">
    </div><br>
    {% endif %}
    <div class="form-container">
        <h1>Upload a File</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <label for="img">Select a file:</label>
            <input type="file" name="img" id="img" required>
            <button type="submit">Upload</button>
        </form>
    </div>

    {% if values %}
    <table>
        <thead>
        <tr>
            <th>Color</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        {% for color, count in values.items() %}
        <tr>
            <td>{{ color }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>
